{% extends 'base.html'%}
{% block content%}

<div class="profile mt-5">
  <div class="card testimonial-card">

    <!-- Background color -->
    <div class="card-up lighten-1"></div>
  
    <!-- Avatar -->
    <div class="avatar mx-auto white">
      {%if user.profile_pic_path%}
        <img src="{{url_for('static',filename=user.profile_pic_path)}}" class="rounded-circle"
        alt="Profile Pic">
      {%else%}
        <img src="https://www.iconfinder.com/data/icons/user-pictures/100/unknown_1-2-512.png" class="rounded-circle"
        alt="No Profile Pic"> 
      {%endif%}
    </div>
  
    <!-- Content -->
    <div class="card-body text-center">
      <!-- Name -->
      <h4 class="card-title"><span class="badge badge-primary">{{user.username[0] | capitalize}}</span> {{user.username | capitalize}}</h4>
      <hr>
      <p class="jumbotron p-4"><i class="fas fa-info mr-2"></i>
      {%if user.bio%}
        {{user.bio}}
      {%else%}
        {{user.username| capitalize}} has no bio  
      {%endif%}  
      </p>
      <a href=""><button type="button" class="btn btn-primary mb-3">Edit Profile</button></a>

      <h2 class="mt-2">My Pitches</h2>

      <div class="pitches mt-2">
        <div class="card pitch mx-4 mb-3">
    
          <!-- Card content -->
          <div class="card-body">
    
            <!-- Title -->
            <h4 class="card-header">Pitch Title</h4>
            <hr>
            <!-- Text -->
            <div class="mb-3">
              <a href="#" class="badge badge-default">Pitcher</a>
              <a href="#" class="badge badge-info">Category</a>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <div>
              <span class="badge badge-success ml-2"> <i class="far fa-thumbs-up">4</i></span>
              <span class="badge badge-danger ml-2"> <i class="far fa-thumbs-down">4</i></span>
              <span class="badge badge-info ml-2"> <i class="far fa-comment">4</i></span>
            </div>  
            <p class="text-muted text-center my-1">2 days Ago</p>
          </div>
    
        </div>
    
        <div class="card pitch mx-4 mb-3">
    
          <!-- Card content -->
          <div class="card-body">
    
            <!-- Title -->
            <h4 class="card-header">Pitch Title</h4>
            <hr>
            <!-- Text -->
            <div class="mb-3">
              <a href="#" class="badge badge-default">Pitcher</a>
              <a href="#" class="badge badge-info">Category</a>
            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <div>
              <span class="badge badge-success ml-2"> <i class="far fa-thumbs-up">4</i></span>
              <span class="badge badge-danger ml-2"> <i class="far fa-thumbs-down">4</i></span>
              <span class="badge badge-info ml-2"> <i class="far fa-comment">4</i></span>
            </div>  
          </div>
    
        </div>
        
      </div>
    </div>
  
  </div>
</div>



{%endblock%}