{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class="profile mt-5">
  <div class="card testimonial-card">

    <!-- Background color -->
    <div class="card-up lighten-1"></div>
  
    <!-- Avatar -->
    <div class="avatar mx-auto white">
      {%if user.profile_pic_path%}
        <img src="{{url_for('static',filename=user.profile_pic_path)}}" class="rounded-circle"
        alt="Profile Pic">
      {%else%}
        <img src="https://www.iconfinder.com/data/icons/user-pictures/100/unknown_1-2-512.png" class="rounded-circle"
        alt="No Profile Pic"> 
      {%endif%}
    </div>
  
    <!-- Content -->
    <div class="card-body text-center">
      <div class="container">
        <i class="fas fa-info mr-2"></i>{{wtf.quick_form(form)}}
      </div>
    </div>
  
  </div>
</div>

{% endblock %}