{% extends 'base.html' %}
{%block header%}<!--
--><div class="header text-center mt-0">
  <div class="container mt-5 mx-auto">
    <div class="inner text-white">
      <h1 class="logo-name">Magical moments,</h1>
      <h2>just a few seconds away.</h2>
      <p>Make your pitch now!!</p>
      <a href="{{url_for('main.new_pitch')}}"><button type="button" class="btn btn-success">PITCH IDEA</button></a>
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div class="mt-4 categories">
    <span class="badge badge-warning">CATEGORIES</span>
    <h2 class="mt-1">Explore Pitches by category</h2>
    <div class="d-flex justify-content-between p-2 mt-1 jumbotron">
      <a href="{{url_for('main.index')}}"><span class="badge badge-pill badge-default">ALL</span></a>
      <a href="{{url_for('main.pitch_by_category',category_name='Investors')}}"><span class="badge badge-pill badge-primary">INVESTORS</span></a>
      <a href="{{url_for('main.pitch_by_category',category_name='Customers')}}"><span class="badge badge-pill badge-secondary">CUSTOMERS</span></a>
      <a href="{{url_for('main.pitch_by_category',category_name='Sales')}}"><span class="badge badge-pill badge-success">SALES</span></a>
      <a href="{{url_for('main.pitch_by_category',category_name='Employees')}}"><span class="badge badge-pill badge-info">EMPLOYEES</span></a>
      <a href="{{url_for('main.pitch_by_category',category_name='Partners')}}"><span class="badge badge-pill badge-warning">PARTNERS</span></a>
      <a href="{{url_for('main.pitch_by_category',category_name='Competitors')}}"><span class="badge badge-pill badge-danger">COMPETITORS</span></a>
      <a href="{{url_for('main.pitch_by_category',category_name='Other')}}"><span class="badge badge-pill badge-danger">OTHER</span></a>
    </div>
  </div>


  <div class="pitches jumbotron">
    
  {%if pitches%}  
    {% for pitch in pitches %}
    
      <div class="card pitch mx-4 mb-3">

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-header">{{pitch.pitch_title}}</h4>
          <hr>
          <!-- Text -->
          <div class="mb-3">
            <a href="#" class="badge badge-default">{{pitch.user.username}}</a>
            <a href="#" class="badge badge-info">{{pitch.pitch_category}}</a>
          </div>
          <p class="card-text">
            {{pitch.pitch_body}}.</p>
          <div>
            <span class="badge badge-success ml-2"> <i class="far fa-thumbs-up">4</i></span>
            <span class="badge badge-danger ml-2"> <i class="far fa-thumbs-down">4</i></span>
            <span class="badge badge-info ml-2"> <i class="far fa-comment">4</i></span>
          </div>  
          <p class="text-muted text-center my-1">{{(pitch.posted)}}</p>
          <a href="#!" class="black-text d-flex justify-content-end">
            <h5>Leave a Comment <i class="fas fa-angle-double-right"></i></h5>
          </a>

        </div>

      </div>
    {% endfor %}
    {%else%}
      <div class="card pitch mx-4 mb-3">
        <div class="card-body">
          <h4 class="card-header">Sorry, there is no pitch posted </h4>
        </div>
      </div>
    {%endif%}  
  </div>
{%endblock%}