{% extends 'base.html' %}
{%block header%}<!--
--><div class="header text-center mt-0">
  <div class="container mt-5 mx-auto">
    <div class="inner text-white">
      <h1 class="logo-name">Magical moments,</h1>
      <h2>just a few seconds away.</h2>
      <p>Make your pitch now!!</p>
    </div>
  </div>
</div>
{%endblock%}

{%block content%}
  <div class="mt-4 categories">
    <span class="badge badge-warning">CATEGORIES</span>
    <h2 class="mt-1">Explore Pitches by category</h2>
    <div class="d-flex justify-content-between p-2 mt-1 jumbotron">
      <a href=""><span class="badge badge-pill badge-default">ALL</span></a>
      <a href=""><span class="badge badge-pill badge-primary">INVESTORS</span></a>
      <a href=""><span class="badge badge-pill badge-secondary">CUSTOMERS</span></a>
      <a href=""><span class="badge badge-pill badge-success">SALES</span></a>
      <a href=""><span class="badge badge-pill badge-info">EMPLOYEES</span></a>
      <a href=""><span class="badge badge-pill badge-warning">PARTNERS</span></a>
      <a href=""><span class="badge badge-pill badge-danger">COMPETITORS</span></a>
      <a href=""><span class="badge badge-pill badge-danger">OTHER</span></a>
    </div>
  </div>


  <div class="pitches jumbotron">
    <div class="card pitch mx-4 mb-3">

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-header">Pitch Title</h4>
        <hr>
        <!-- Text -->
        <div class="mb-3">
          <a href="#" class="badge badge-default">Pitcher</a>
          <a href="#" class="badge badge-info">Category</a>
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <div>
          <span class="badge badge-success ml-2"> <i class="far fa-thumbs-up">4</i></span>
          <span class="badge badge-danger ml-2"> <i class="far fa-thumbs-down">4</i></span>
          <span class="badge badge-info ml-2"> <i class="far fa-comment">4</i></span>
        </div>  
        <p class="text-muted text-center my-1">2 days Ago</p>
        <a href="#!" class="black-text d-flex justify-content-end">
          <h5>Leave a Comment <i class="fas fa-angle-double-right"></i></h5>
        </a>

      </div>

    </div>

    <div class="card pitch mx-4 mb-3">

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-header">Pitch Title</h4>
        <hr>
        <!-- Text -->
        <div class="mb-3">
          <a href="#" class="badge badge-default">Pitcher</a>
          <a href="#" class="badge badge-info">Category</a>
        </div>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <div>
          <span class="badge badge-success ml-2"> <i class="far fa-thumbs-up">4</i></span>
          <span class="badge badge-danger ml-2"> <i class="far fa-thumbs-down">4</i></span>
          <span class="badge badge-info ml-2"> <i class="far fa-comment">4</i></span>
        </div>  
        <!-- Link -->
        <a href="#!" class="black-text d-flex justify-content-end">
          <h5>Leave a Comment <i class="fas fa-angle-double-right"></i></h5>
        </a>

      </div>

    </div>
    
  </div>
{%endblock%}