{% extends 'base.html' %}
{%block content%}
  <div class="mt-4 categories">
    <span class="badge badge-warning">CATEGORIES</span>
    <h2 class="mt-1">Explore Pitches by category</h2>
    <div class="d-flex justify-content-between p-2 mt-1 jumbotron">
      <a href=""><span class="badge badge-pill badge-default">ALL</span></a>
      <a href=""><span class="badge badge-pill badge-primary">INVESTORS</span></a>
      <a href=""><span class="badge badge-pill badge-secondary">CUSTOMERS</span></a>
      <a href=""><span class="badge badge-pill badge-success">SALES</span></a>
      <a href=""><span class="badge badge-pill badge-info">EMPLOYEES</span></a>
      <a href=""><span class="badge badge-pill badge-warning">PARTNERS</span></a>
      <a href=""><span class="badge badge-pill badge-danger">COMPETITORS</span></a>
    </div>
  </div>
{%endblock%}