{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{%block content%}
  <div class="mt-5 jumbotron">
    <div class="card pitch mx-4 mb-3">

      <!-- Card content -->
      <div class="card-body">
  
        <!-- Title -->
        <h4 class="card-header">{{pitch.pitch_title}}</h4>
        <hr>
        <!-- Text -->
        <div class="mb-3">
          <a href="#" class="badge badge-default">{{pitch.user.username}}</a>
          <a href="#" class="badge badge-info">{{pitch.pitch_category}}</a>
        </div>
        <p class="card-text">
          {{pitch.pitch_body}}.</p>
        <div>
          <span class="badge badge-success ml-2"> <i class="far fa-thumbs-up"> 4</i></span>
          <span class="badge badge-danger ml-2"> <i class="far fa-thumbs-down"> 4</i></span>
          <span class="badge badge-info ml-2"> <i class="far fa-comment"> {{pitch.comments_count}}</i></span>
        </div>  
        <p class="text-muted text-center my-1">{{pitch.posted}}</p>
      </div>
  
    </div>
    <h3>Comments</h3>
    <div class="comments my-2">
    {%if comments%}
    {%for comment in comments%}
      <div class="chip">
        <img src="{{url_for('static',filename=comment.user.profile_pic_path)}}" alt="Contact Person">{{comment.comment}}
      </div>
    {%endfor%}  
    {%else%}
    <div class="chip">
      <p>No Comments</p> 
    </div>
    {%endif%}
    </div>

    {{wtf.quick_form(comment_form)}}
  </div>
{%endblock%}